
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<link rel="stylesheet" href="~/OpenLayers/ol.css" type="text/css">
<style>
    .map {
        height: 100vh;
        width: 100%;
    }
</style>
<script src="~/OpenLayers/ol.js"></script>

<div id="map" class="map"></div>

<script type="text/javascript">
        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([37.41, 8.82]),
                zoom: 4
            })
        });
</script>

