
OrderHandler/obj/project.nuget.cache
OrderHandler/obj/project.assets.json
OrderHandler/obj/OrderHandler.Data.csproj.nuget.g.props
OrderHandler/obj/OrderHandler.Data.csproj.nuget.dgspec.json
OrderHandler/obj/Debug/netcoreapp3.1/OrderHandler.Data.pdb
OrderHandler/obj/Debug/netcoreapp3.1/OrderHandler.Data.genruntimeconfig.cache
OrderHandler/obj/Debug/netcoreapp3.1/OrderHandler.Data.dll
OrderHandler/obj/Debug/netcoreapp3.1/OrderHandler.Data.csprojAssemblyReference.cache
OrderHandler/obj/Debug/netcoreapp3.1/OrderHandler.Data.csproj.FileListAbsolute.txt
OrderHandler/obj/Debug/netcoreapp3.1/OrderHandler.Data.csproj.CoreCompileInputs.cache
OrderHandler/obj/Debug/netcoreapp3.1/OrderHandler.Data.assets.cache
OrderHandler/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OrderHandler/bin/Debug/netcoreapp3.1/OrderHandler.Data.runtimeconfig.dev.json
OrderHandler/bin/Debug/netcoreapp3.1/OrderHandler.Data.pdb
OrderHandler/bin/Debug/netcoreapp3.1/OrderHandler.Data.dll
OrderHandler.UI/obj/project.nuget.cache
OrderHandler.UI/obj/project.assets.json
OrderHandler.UI/obj/OrderHandler.UI.csproj.nuget.g.props
OrderHandler.UI/obj/OrderHandler.UI.csproj.nuget.dgspec.json
OrderHandler.UI/obj/Debug/netcoreapp3.1/staticwebassets/OrderHandler.UI.StaticWebAssets.xml
OrderHandler.UI/obj/Debug/netcoreapp3.1/staticwebassets/OrderHandler.UI.StaticWebAssets.Manifest.cache
OrderHandler.UI/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
OrderHandler.UI/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
OrderHandler.UI/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
OrderHandler.UI/obj/Debug/netcoreapp3.1/Razor/Views/Order/Index.cshtml.g.cs
OrderHandler.UI/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
OrderHandler.UI/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
OrderHandler.UI/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
OrderHandler.UI/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.Views.pdb
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.Views.dll
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.TagHelpers.output.cache
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.TagHelpers.input.cache
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.RazorTargetAssemblyInfo.cs
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.RazorTargetAssemblyInfo.cache
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.RazorCoreGenerate.cache
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.RazorAssemblyInfo.cs
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.RazorAssemblyInfo.cache
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.pdb
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.MvcApplicationPartsAssemblyInfo.cache
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.genruntimeconfig.cache
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.dll
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.csprojAssemblyReference.cache
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.csproj.FileListAbsolute.txt
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.csproj.CoreCompileInputs.cache
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.csproj.CopyComplete
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.assets.cache
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.AssemblyInfoInputs.cache
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.AssemblyInfo.cs
OrderHandler.UI/obj/Debug/netcoreapp3.1/apphost.exe
OrderHandler.UI/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OrderHandler.UI/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
OrderHandler.UI/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
OrderHandler.UI/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
OrderHandler.UI/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
OrderHandler.UI/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/OrderHandler.UI.Views.pdb
OrderHandler.UI/bin/Debug/netcoreapp3.1/OrderHandler.UI.Views.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/OrderHandler.UI.runtimeconfig.json
OrderHandler.UI/bin/Debug/netcoreapp3.1/OrderHandler.UI.runtimeconfig.dev.json
OrderHandler.UI/bin/Debug/netcoreapp3.1/OrderHandler.UI.pdb
OrderHandler.UI/bin/Debug/netcoreapp3.1/OrderHandler.UI.exe
OrderHandler.UI/bin/Debug/netcoreapp3.1/OrderHandler.UI.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/OrderHandler.UI.deps.json
OrderHandler.UI/bin/Debug/netcoreapp3.1/OrderHandler.Data.pdb
OrderHandler.UI/bin/Debug/netcoreapp3.1/OrderHandler.Data.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/Humanizer.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
OrderHandler.UI/bin/Debug/netcoreapp3.1/appsettings.json
OrderHandler.UI/bin/Debug/netcoreapp3.1/appsettings.Development.json
.vs/OrderHandler/v16/.suo
OrderHandler/obj/project.nuget.cache
OrderHandler/obj/project.assets.json
OrderHandler/obj/OrderHandler.Data.csproj.nuget.g.props
OrderHandler/obj/OrderHandler.Data.csproj.nuget.dgspec.json
OrderHandler/obj/Debug/netcoreapp3.1/OrderHandler.Data.pdb
OrderHandler/obj/Debug/netcoreapp3.1/OrderHandler.Data.genruntimeconfig.cache
OrderHandler/obj/Debug/netcoreapp3.1/OrderHandler.Data.dll
OrderHandler/obj/Debug/netcoreapp3.1/OrderHandler.Data.csprojAssemblyReference.cache
OrderHandler/obj/Debug/netcoreapp3.1/OrderHandler.Data.csproj.FileListAbsolute.txt
OrderHandler/obj/Debug/netcoreapp3.1/OrderHandler.Data.csproj.CoreCompileInputs.cache
OrderHandler/obj/Debug/netcoreapp3.1/OrderHandler.Data.assets.cache
OrderHandler/bin/Debug/netcoreapp3.1/OrderHandler.Data.runtimeconfig.dev.json
OrderHandler/bin/Debug/netcoreapp3.1/OrderHandler.Data.pdb
OrderHandler/bin/Debug/netcoreapp3.1/OrderHandler.Data.dll
OrderHandler.UI/obj/project.nuget.cache
OrderHandler.UI/obj/project.assets.json
OrderHandler.UI/obj/OrderHandler.UI.csproj.nuget.g.props
OrderHandler.UI/obj/OrderHandler.UI.csproj.nuget.dgspec.json
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.Views.dll
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.csproj.FileListAbsolute.txt
OrderHandler.UI/obj/Debug/netcoreapp3.1/OrderHandler.UI.assets.cache
.vs/OrderHandler/v16/.suo
