
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>About</h1>
<hr />
<div class="container marketing">
    <div class="row">
        <div class="col">           
            <h2>Purpose</h2>
            <p>As an assignment for a job interview i was tasked with creating a web application for creating and handling orders. </p>
        </div>
        <div class="col">            
            <h2>About me</h2>
            <p>My name is Erik and i am 24 years old. I am an Software developer since 2020, with an passion for developing in .NET, C# and Java Script. </p>
        </div>
    </div>
</div>