
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Handler</h1>
<div class="container-fluid">
    <div class="row">
        <div class="column">
            <img src="https://www.tuv.com/content-media-files/verwendet-objekte/ot-security_core_2_2_1.jpg">
        </div>
        <div class="column">
            <img src="https://images.hdsydsvenskan.se/980x588/B8By9p9nEx9Oy_MTgoajW7cMedE.jpg">
        </div>
        <div class="column">
            <img src="https://f.nordiskemedier.dk/2s35k5qrza6qhbab.jpg">
        </div>
        <div class="column">
            <img src="https://adven.com/app/uploads/2020/09/energy-as-a-service-adven.jpg">
        </div>
    </div>
</div>

