@model OrderHandler.UI.Models.OrderViewModel
@using NonFactors.Mvc.Grid;
<h2>Edit Order</h2>
<hr />
<h4>Order: @Html.DisplayFor(model => model.Id)<b></b></h4>
<h4>Kund: @Html.DisplayFor(model => model.CustomerName)<b></b></h4>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <form asp-action="Edit">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <b><label asp-for="CustomerName" class="control-label">Customer Name</label></b>
                                <input asp-for="CustomerName" class="form-control" />
                                <span asp-validation-for="CustomerName" class="text-danger"></span>
                                <span asp-validation-for="CustomerName" class="text-danger"></span>
                                <hr/>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @Html.ActionLink("Create Order Row", "CreateOrderRowByOrderId", new { orderId = Model.Id })
    <hr/>
    @(Html
            .Grid(Model.OrderRow)
            .Build(columns =>
            {
                columns.Add(model => model.OrderRowNr).Titled("Id");
                columns.Add(model => model.ArticleName).Titled("Article Name");
                columns.Add(model => model.ArticleNumber).Titled("Article Number");
            })
            .Using(GridFilterMode.Row)
            .Empty("No orderrows found")
            .Sortable()
            .Pageable()
            .Css("css-classes")
            .AppendCss("table-hover") 
        )
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<style>
    .table-hover tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
</style>
