@model IQueryable<OrderHandler.UI.Models.ArticleViewModel>
@using NonFactors.Mvc.Grid; 

@{
    ViewData["Title"] = "Index";
}

<style>
    .order-section {
        display: block;
    }

    table {
        margin-top: 20px;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
    }

    th {
        text-align: left;
    }
</style>

<h1>Articles</h1>
@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Id");
        columns.Add(model => model.ArticleName).Titled("Article Name");
        columns.Add(model => model.Price).Titled("Article Price");
        columns.Add(model => model.ArticleNumber).Titled("Article Number");
    })
    .Using(GridFilterMode.Row)
    .Empty("No articles found")
    .Filterable()
    .Sortable()
    .Pageable()
    .Css("css-classes") // Overwrites all classes with the new ones
    .AppendCss("table-hover") // Appends classes to the current ones
)
<style>
    .table-hover tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
</style>

