@using NonFactors.Mvc.Grid;
@model IQueryable<OrderHandler.UI.Models.OrderRowViewModel>


@{
    ViewData["Title"] = "Articles";
}



<h1>Articles</h1>
@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.OrderId).Titled("Order Id");
        columns.Add(model => model.ArticleName).Titled("Article Name");
    })
    .Using(GridFilterMode.Header)
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
)
<form asp-controller="Article" asp-action="CreateSearchString">
    <p>
        Sökord: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
