@using NonFactors.Mvc.Grid;
@model IQueryable<OrderHandler.UI.Models.ArticleViewModel>
@{
    ViewData["Title"] = "Articles";
}
<h1>Articles</h1>
@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Article Id");
        columns.Add(model => model.ArticleName).Titled("Article Name");
    })
    .Using(GridFilterMode.Header)
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
)
